// font weight
$fontLight: 300;
$fontBold: 600;

// font color
$colorPrimary: blue;
$colorWarning: orange;
$colorError: crimson;
$colorSuccess: green;
$colorInfo: gray;

// box shadow
$boxShadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
